{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card box-shadow m-2 form-wrap">
            <div class="card-header text-center">
                <h1>Конвертер валют</h1>
            </div>
            <form action="" method="POST" class="p-3">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        <label for="amount">Сумма</label>
                        <input type="text" id="amount" class="form-control" name="amount" {% if amount %} value="{{ amount }}" {% endif %}>
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        <label for="from_curr">Отдаем</label>
                        <select name="from-curr" id="from_curr" class="form-control" value="{{ from_curr}}">
                            {% for curr in currencies %}
                            <option value="{{ curr }}" {% if from_curr == curr %} selected {% endif %}>{{ curr }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        <label for="to_curr">Получаем</label>
                        <select name="to-curr" id="to_curr" class="form-control" value="{{ to_curr}}">
                            {% for curr in currencies %}
                            <option value="{{ curr }}" {% if to_curr == curr %} selected {% endif %}>{{ curr }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="submit-btn">
                    <button type="submit" class="btn btn-primary">Рассчитать</button>
                </div>
                <br>
                {% if converted_amount %}
                <div class="card col-5 p-0">
                    <div class="card-header tex-center">
                        <h5>{{ amount }} {{ from_curr }} <b> = </b>{{ converted_amount }} {{ to_curr }}</h5>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
